---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Some background information"
	pubDate={new Date('2024-10-12')}
	heroImage="/blog-placeholder-about.jpg"
>
	<p>
	Coming soon!
	</p>

</Layout>
